html {
    font-size: 10px;
    font-family: Roboto, Arial, sans-serif;
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    padding: 0 env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
    font-size: 1.2rem;
    overflow-x: hidden;
    height: 100%;
}

a {
    color: currentcolor;
    text-decoration: none;
    display: block;
    position: relative;
}

button {
    padding: 0;
    border: none;
    outline: none;
    font: inherit;
    text-transform: inherit;
    color: inherit;
    background: transparent;
}

button,
select,
[role=button],
input[type=checkbox] {
    cursor: pointer;
}

input,
textarea {
    background-color: transparent;
    padding-bottom: 4px;
    outline: none;
    box-sizing: border-box;
    border: none;
    border-radius: 0;
    margin-bottom: 1px;
    font: inherit;
    color: #0f0f0f
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
    color: #606060;
    opacity: 1
}

input::placeholder,
textarea::placeholder {
    color: #606060;
    opacity: 1
}

textarea {
    -webkit-appearance: none;
    appearance: none;
    min-height: 8.4rem;
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 8px
}

input {
    border-bottom: 1px solid #737373;
    text-overflow: ellipsis
}

input:focus {
    margin-bottom: 0;
    border-bottom-width: 2px;
    border-bottom-color: #0f0f0f
}

.main {
    background: #f1f3f4;
    font-size: 14px;
    line-height: 20px;
    height: 100%;
    padding-bottom: 49px;
    overflow-y: auto;
    box-sizing: border-box;
}

.item {
    box-shadow: 0 0 0 1px #ebedef;
    border-radius: 0;
    background-color: #fff;
    margin: 0 0 8px 0;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

}

.item-content {
    padding: 12px 16px;
}

.item-actions {
    display: block;
    overflow-x: auto;
    overflow-y: hidden;
    position: relative;
    white-space: nowrap;
    padding-left: 8px;
    padding-bottom: 12px;
}

.item-action {
    display: inline-block;
    overflow: hidden;
    border: 1px solid rgba(0, 0, 0, .12);
    background-color: #fff;
    margin-left: 8px;
    border-radius: 4px;
    padding: 5px 8px;
}

.bar-renderer {
    display: flex;
    justify-content: space-around;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0 env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
    z-index: 3;
    height: 48px;
    border-top: 1px solid rgba(0, 0, 0, .1);
    color: #0f0f0f;
    font-size: 1.1rem;
    background: #fff;
    user-select: none;
}

.bar-item-tab {
    display: flex;
    flex: 1 1 0%;
    min-width: 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.bar-item-tab .c3-icon {
    flex-shrink: 0;
    width: 24px;
    height: 24px;
    fill: currentColor;
    stroke: none;
    color: #0f0f0f;
}

.pivot-bar-item-title {
    max-width: 100%;
    padding: 0 4px;
    box-sizing: border-box;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #0f0f0f;
}

.dialog-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    z-index: 4;
    margin: 0 40px;
    padding: 0 env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
}

.dialog {
    position: relative;
    z-index: 2;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    max-height: 100%;
    box-sizing: border-box;
    padding: 16px;
    margin: 0 auto;
    overflow-x: hidden;
    overflow-y: auto;
    font-size: 1.3rem;
    color: #0f0f0f;
    border: none;
    min-width: 250px;
    max-width: 356px;
    box-shadow: 0 0 24px 12px rgba(0, 0, 0, 0.25);
    border-radius: 12px;
    background-color: #fff;




}

.dialog-header {
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    flex-shrink: 0;



}

.dialog-title {
    margin: 0 0 3px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    line-height: 1.25;
    text-overflow: ellipsis;
    font-weight: normal;
    font-size: 1.8rem;
    -webkit-line-clamp: initial;
    max-height: none;



}

.dialog-body {
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 100vh;
    display: flex;
    flex-direction: column;
    row-gap: 12px;
    padding-top: 12px;
}

.dialog-input,.dialog-input:focus {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.dialog-textarea {
    resize: none;
}

.dialog-buttons {
    flex-shrink: 0;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: end;
    justify-content: flex-end;
    margin-top: 12px;


}

.dialog-overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.3);
}

.dialog-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0 16px;
    height: 36px;
    font-size: 14px;
    line-height: 36px;
    color: #0f0f0f;

}